body{
    background-color: rgb(234, 232, 229);
    font-family: Arial;
}

h1{
    color: blueviolet;
    text-align: center;
    font-size: 40px;
}

h3{
    color: blue;
}
h4{
    color: chocolate;
}
/* 
div{
    background-color: darkolivegreen;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
} */

