table{
    border: solid red;
    width: 350px;
    border-collapse: collapse;
    width: 40px;
}
td{
    height: 50px;
    text-align: center;
}
.sm{
    text-align: right;
}
.Div1{
    height: 250px;
    width: 250px;
    background-color: salmon;
    overflow: auto;
    margin: 2px;
}
body{
    background-image: url(https://th.bing.com/th/id/OIP.Ki8xNN-BixpRp0wfBmP1iAHaFQ?w=237&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.trans{
    width: 300px;
    height: 250px;
    background-color: red;
    margin: 0 auto;
    transition: 2s all ease;
}
.trans:hover{
    background-color: rgb(red, green, blue);
    width: 500px;
    height: 350px;
    transform: rotate(360);
}